{% extends "base.html.twig" %}

{% block body %}

    <section class="container large">
        <h1>Etat de l'import</h1>

        <div class="row">
        {% for item in stats  %}
            <article class="card col s4">
                <h2>{{ item.title }}</h2>

                <p>Notices  : {{ item.books }} </p>
                <p>Borrowers :  {{ item.borrowers }}</p>
                <p>Items : {{ item.items }}{% if item.title == 'up8' %} / 441846{% elseif item.title == "rbx" %} / 29303{% elseif item.title == "scl" %} / 73489{% endif %} </p>
                <p>Issues : {{ item.issues }}{% if item.title == 'up8' %} / 670841{% elseif item.title == "rbx" %} / 72914{% elseif item.title == "scl" %} /49348 {% endif %}</p>

            </article>
        {% endfor %}
        </div>


        {#<div class="row card">#}

            {#<h2>Top 100 Up8</h2>#}
            {#{% for item in top100Up8 %}#}
                {#{{ item.id }}#}
                {#{{ item.title }}#}
                {#{{ item.nb }}#}
            {#{% endfor %}#}
        {#</div>#}

        {#<div class="row card">#}

            {#<h2>Top 100 Roubaix</h2>#}
            {#{% for item in top100Rbx %}#}
                {#{{ item.id }}#}
                {#{{ item.title }}#}
                {#{{ item.nb }}#}
            {#{% endfor %}#}
        {#</div>#}

        {#<div class="row card">#}

            {#<h2>Top 100 Saclay</h2>#}
            {#{% for item in top100Scl %}#}
                {#{{ item.id }}#}
                {#{{ item.title }}#}
                {#{{ item.nb }}#}
            {#{% endfor %}#}
        {#</div>#}
    </section>

{% endblock %}