{% extends "base.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bn.css')}}">
{% endblock %}

{% block body %}

      <section class="container">

                <article id="info1fev">

                    <div class="row">

                        <h1>Statistiques au 1er février</h1>

                        <article id="article1fev" class="card col s6" style="height: 500px;">

                            <div id="nbemprunt1fev" class="row" style="height: 20%">
                                <h5> Nombre de prêts </h5>
                                <span id="span_nb_emprunt_fev" style="text-align: center"></span>
                                <hr>
                            </div>

                            <div class="row" style="height: 20%">
                                <h5> Nombre d'emprunteurs </h5>
                                <span id="span_nb_emprunteur_fev" style="text-align: center"></span>
                                <hr>
                            </div>

                            <div class="row" style="height: 20%">
                                <h5> Moyenne des prêts par emprunteurs </h5>
                                <span id="span_nbmoyen_emprunt_by_emprunteur_fev" style="text-align: center"></span>
                                <hr>
                            </div>

                            <div class="row" style="height: 20%">
                                <h5>Age moyen des emprunteurs</h5>
                                <span id="span_agemoyen_emprunteur_fev" style="text-align: center"></span>
                            </div>



                        </article>

                    <article class="card col s6" style="height: 500px;">
                        <div id="genre1fev" style="height: 400px;">
                            <h4> Répartition par sexe</h4>
                            <svg></svg>
                        </div>
                    </article>
                    </div>

                    <article class="card col s12">

                        <div id="csp1fev" class="col s12" style="height: 500px;">
                            <h4> Répartition par CSP </h4>
                            <svg></svg>
                        </div>
                    </article>
                </article>
            </div>

      </section>
{% endblock %}

{% block javascripts %}

    {{ parent() }}



    <!-- D3.JS -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/nvd3/build/nv.d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/spinner/spin.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('/assets/vendor/nvd3/build/nv.d3.css')}}">
    <script src="https://d3plus.org/js/d3plus.js"></script>
    <!-- END D3.JS -->

    <script type="text/javascript" src="{{ asset('js/barchart_simple.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/donut_simple.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/treemap_simple.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/heatmap_day_hour.js') }}"></script>

    <script>

        function fev1allfunction(){
            fev1csp();
            fev1genre();
            fev1nbemprunt();
            fev1hour();
        }

        fev1allfunction();

        function fev1hour(){
            var url = '{{ path("api_bn_1fevrier_by_hour") }}';

            d3.json(url , function(error, data) {
                heatmap_day_hour("emprunts", "horaire1fev", data);
            });

        }

        function fev1csp(){

            var url = '{{ path("api_bn_1fevrier_by_csp") }}';

            d3.json(url , function(error, data) {
                donut_simple_avec_legende("csp1fev svg", data);
            });

        }

        function fev1genre(){

            var url = '{{ path("api_bn_1fevrier_by_sexe") }}';

            d3.json(url , function(error, data) {
                donut_simple_avec_legende("genre1fev svg", data);
            });
        }

        function fev1nbemprunt(){

            var url = '{{ path("api_bn_1fevrier") }}';

            d3.json(url , function(error, data) {
                document.getElementById("span_nb_emprunt_fev").textContent=data[0].value;
            });

            var url2 = '{{ path("api_bn_1fevrier_moyenne") }}';

            d3.json(url2 , function(error, data) {
                document.getElementById("span_moyenne_emprunt_fev").textContent=(Math.round(data[0].value/data[0].cbcount*100)/100);
            });

            var url3 = '{{ path("api_bn_emprunteur1fevrier") }}';

            d3.json(url3 , function(error, data) {
                document.getElementById("span_nb_emprunteur_fev").textContent=data[0].value;
            });

            var url4 = '{{ path("api_bn_1fevrier_age_moyen") }}';

            d3.json(url4 , function(error, data) {
                document.getElementById("span_agemoyen_emprunteur_fev").textContent=(Math.round(data.value));
            });

            var url5 = '{{ path("api_bn_1fevrier_nombre_moyen_emprunt") }}';

            d3.json(url5 , function(error, data) {
                document.getElementById("span_nbmoyen_emprunt_by_emprunteur_fev").textContent=(Math.round(data.value));
            });
        }

    </script>

{% endblock %}