{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bn.css')}}">
{% endblock %}

{% block body %}

    <section class="container">


        <div class="row">
            <h2><a href="https://bibliotheque-numerique.paris.fr/doc/DILICOM/VPCO_{{ book.ean }}" target="_blank">{{ book.title }}</a></h2>
            <h3>{{ book.author }}</h3>
        </div>

        <div class="row">
            <div class="col s12">

                <div class="card row center">
                   <h5>Nombre d'emprunt</h5>
                   <span class="number" style="font-size: 50px">{{ book.nb }}</span>
                    <h5>EAN : {{ean }} </h5>
                </div>

                <div class="card row">
                    <div id="pieChartSexe" class="col s6">
                        <h5>Sexe</h5>
                        <svg style="height: 250px"></svg>
                    </div>

                    <div id="moyenneAge" class="col s6">
                        <h5>Moyenne d'âge des lecteurs</h5>
                        <span class="number" style="font-size: 50px">{{ageMoyen[0].value }} ans</span>
                    </div>
                </div>

                <div id="cspEmpruntBook" class="card row">

                    <div class="col s5">
                        <h5>Catégories sociaux professionnelles</h5>
                        <svg style="height: 300px;"></svg>
                    </div>

                    <div class="col s7 card">
                        <h5>Comparaison avec les CSP moyens</h5>
                        <div id="moyenne_container">
                            {#<h6> {{ cspGeneral[i-1].label }} </h6>#}
                            {#<div id="viz_valeur_mediane_{{i}}"></div>#}
                        </div>

                    </div>
                </div>

            </div>



            {#<div class="col s4">#}
                {#<img src="{{ asset('img/book2.png') }}" alt="livre">#}
            {#</div>#}



        </div>

        <div>
            <div id="moyenne_container">
                {#<h6> {{ cspGeneral[i-1].label }} </h6>#}
                {#<div id="viz_valeur_mediane_{{i}}"></div>#}
            </div>

        </div>

    </section>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- Materialize -->

    <script type="text/javascript" src="{{ asset('assets/vendor/materialize/js/parallax.js') }}"></script>


    <!-- D3.JS -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/nvd3/build/nv.d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/spinner/spin.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('/assets/vendor/nvd3/build/nv.d3.css')}}">

    <script src="//d3plus.org/js/d3plus.js"></script>
    <!-- END D3.JS -->

    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script type="text/javascript" src="{{ asset('js/viz_mediane.js') }}"></script>

    <script>

        // Piechart pour les sexe pour livre

        nv.addGraph(function() {
            var chart = nv.models.pieChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .showLabels(true)     //Display pie labels
                .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
                .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
                .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
                .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
            ;
            d3.select("#pieChartSexe svg")
                .datum(genreData())
                .transition().duration(350)
                .call(chart);

            return chart;
        });

        //Pie chart example data. Note how there is only a single array of key-value pairs.
        function genreData() {
            return  [
                {% for item in genres %}
                {% if item.title != "0" %}
                {"label" : "{{item.title}}",
                    "value" : "{{item.nb}}"},
                {% endif %}
                {% endfor %}

            ];
        }


        // Piechart CSP pour un livre
        nv.addGraph(function() {
            var chart = nv.models.pieChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .showLabels(true)     //Display pie labels
                .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
                .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
                .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
                .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
            ;
            d3.select("#cspEmpruntBook svg")
                .datum(cspData())
                .transition().duration(350)
                .call(chart);

            return chart;
        });

        //Pie chart example data. Note how there is only a single array of key-value pairs.
        function cspData() {
            return  [
                {% for item in cspLivre %}
                {% if item.title != "0" %}
                {"label" : "{{item.title}}",
                    "value" : "{{item.nb}}"},
                {% endif %}
                {% endfor %}
            ];
        }
    </script>



    {# viz valeur moyenne #}
    <script>

        var url = '{{ path("api_csp_emprunt_pourcent", {'ean': 'varEan'}) }}';
        url = url.replace("varEan", {{ ean }});

        d3.json(url , function(error, data) {
            viz_mediane("moyenne_container", data, 5);
        });

    </script>

{% endblock %}