{% extends "base.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bn.css')}}">
{% endblock %}

    {% block body %}

    <section class="container" id="section_details_csp">

        <h1>Catégorie Socioprofessionnelle</h1>

        <article class="card row" id="article_details_csp">

            <div class="input-field col s12" id="zone_titre_csp">
                <select id="select_csp" onchange="gestion_dropdown()">
                    {% for item in csp %}
                        {% if item.title != "" %}
                            <option>{{ item.title }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

            </div>


            <div id="zone_spinner" style="height : 150px; transform: translateY(5px)">

            </div>


            <div id="zone_csp">

                <div id="csp_classification">

                </div>

                <div class="row">
                    <div class="col s6" id="csp_genre">
                        <svg style="height:400px;"></svg>
                    </div>

                    <div class="col s6">

                        <div class="row" style="text-align: center">
                            <p>Nombre de prêts : <span style="font-size: 35px" class="amber-text text-darken-1" id="csp_nbPret"></span></p>
                        </div>

                        <div class="row" style="text-align: center">
                            <p>Nombre de lecteurs : <span style="font-size: 35px" class="amber-text text-darken-1" id="csp_nbLecteurs"></span></p>

                        </div>

                        <div class="row" style="text-align: center">
                            <p>Age moyen : <span style="font-size: 35px" class="amber-text text-darken-1" id="csp_ageMoyen"></span></p>
                        </div>

                    </div>

                </div>

                <div class="row">

                    <div id="csp_pret_annee" >
                        <svg></svg>
                    </div>


                </div>

                <h4>Les 10 livres les plus empruntés</h4>
                <!-- créer une fiche livre et rendre possible le zoom sur un livre -->

                <table class="striped tablesorter">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>EAN</th>
                        <th>Nombre d'emprunts</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in 1..10 %}
                        <tr>
                            <td id="csp_top_titre_{{ i }}"></td>
                            <td id="csp_top_auteur_{{ i }}"></td>
                            <td id="csp_top_ean_{{ i }}"></td>
                            <td id="csp_top_nb_{{ i }}"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>

        </article>




    </section>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

<!-- Materialize -->

<script type="text/javascript" src="{{ asset('assets/vendor/materialize/js/parallax.js') }}"></script>


<!-- D3.JS -->
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/nvd3/build/nv.d3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/spinner/spin.js') }}"></script>
<link rel="stylesheet" href="{{ asset('/assets/vendor/nvd3/build/nv.d3.css')}}">
<!-- END D3.JS -->

<script type="text/javascript" src="{{ asset('js/timeline_emprunt_annee.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/barchart_simple.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/donut_simple.js') }}"></script>



    {# creation spinner #}
    <script>

        var opts = {
            lines: 12, // The number of lines to draw
            length: 7, // The length of each line
            width: 5, // The line thickness
            scale: 1.0,
            radius: 10, // The radius of the inner circle
            color: '#000000', // #rbg or #rrggbb
            speed: 1, // Rounds per second
            trail: 100, // Afterglow percentage
            shadow: false // Whether to render a shadow
        };

        var target = document.getElementById('zone_spinner');
        var spinner = new Spinner(opts).spin(target);

    </script>


    {# viz barchart #}
    <script>
    function lancer_barchart(nomCsp) {

        var url = '{{ path("api_bn_csp_classification", {'csp': 'varCsp'}) }}';
        url = url.replace("varCsp", nomCsp);

        d3.json(url , function(error, data) {

            barchart_simple("csp_classification", data);
            csp_genre(nomCsp);
        });
    }
    </script>


    {# viz donut genre #}
    <script>
    function csp_genre(nomCsp) {

        var url = '{{ path("api_bn_csp_genre", {'csp': 'varCsp'}) }}';
        url = url.replace("varCsp", nomCsp);

        d3.json(url , function(error, data) {
            donut_simple("csp_genre svg", data);
            csp_stats(nomCsp);
        });

    }
    </script>


    {# gestion des stats #}
    <script>
        function csp_stats(nomCsp) {

        var url = '{{ path("api_bn_csp_pret", {'csp': 'varCsp'}) }}';
        url = url.replace("varCsp", nomCsp);
        d3.json(url , function(error, data) {
            document.getElementById("csp_nbPret").textContent=data[0].value;
        });


        var url = '{{ path("api_bn_csp_lecteurs", {'csp': 'varCsp'}) }}';
        url = url.replace("varCsp", nomCsp);
        d3.json(url , function(error, data) {
            document.getElementById("csp_nbLecteurs").textContent=data[0].value;
        });


        var url = '{{ path("api_bn_csp_age_moyen", {'csp': 'varCsp'}) }}';
        url = url.replace("varCsp", nomCsp);
        d3.json(url , function(error, data) {
            document.getElementById("csp_ageMoyen").textContent=Math.round(data[0].value)+" ans";
        });

        initialise_donnees_globales_timeline('2017', nomCsp);

    }
    </script>



    {# viz timeline #}
    <script>
        function lancer_timeline_csp(annee, nomCsp, dataGlobale) {

            var url = '{{ path("api_bn_csp_annee",{'csp': 'varCsp','annee': 'varAnnee'}) }}';
            url = url.replace("varCsp", nomCsp);
            url = url.replace("varAnnee", annee);

            d3.json(url , function(error, data) {
                timeline_emprunt_annee("csp_pret_annee svg", annee, data, dataGlobale);
                csp_top_books(nomCsp);
            });

        }

    function initialise_donnees_globales_timeline(anneeE, nomCsp){


        var url = '{{ path("api_bn_annee",{'annee': 'varAnnee', 'mois': '00'}) }}';
        url = url.replace("varAnnee", anneeE);

        d3.json(url , function(error, data) {
            lancer_timeline_csp('2017', nomCsp, data);
        });
    }

    </script>



    {# les 10 livres les plus empruntés #}
    <script>
    function csp_top_books(nomCsp) {


        var url = '{{ path("api_bn_csp_top_books", {'csp': 'varCsp'}) }}';
        url = url.replace("varCsp", nomCsp);

        d3.json(url , function(error, data) {


            for (i = 1; i < 11; i++) {
                document.getElementById("csp_top_titre_" + i).textContent = data[i-1].titre;
                document.getElementById("csp_top_auteur_" + i).textContent = data[i-1].auteur;
                document.getElementById("csp_top_ean_" + i).textContent = data[i-1].ean;
                document.getElementById("csp_top_nb_" + i).textContent = data[i-1].value;
            }

            spinner.stop();
            $('#select_csp').prop("disabled", false);
            $('select').material_select();
            $("#zone_spinner").hide();
            document.getElementById("zone_csp").style.position='';
            document.getElementById("zone_csp").style.top='';

        });

    }
    </script>




    {# gestion du dropdown #}
    <script>
        gestion_dropdown('{{ currentCsp }}');

        function gestion_dropdown(nomCsp) {

            var selectBox = document.getElementById("select_csp");

            if (nomCsp != null) {
                $("#select_csp option").each(function() {
                    if (nomCsp == $(this).val()) {
                        selectBox.selectedIndex = $(this).index();
                    }
                });
            }

            nomCsp = selectBox.options[selectBox.selectedIndex].value;

            $('#select_csp').prop("disabled", true);
            $('select').material_select();
            $("#zone_spinner").show();
            spinner.spin(target);

            document.getElementById("zone_csp").style.position='absolute';
            document.getElementById("zone_csp").style.top='-100000px';

            lancer_barchart(nomCsp);
        }
    </script>


{% endblock %}