{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bn.css')}}">
{% endblock %}

{% block body %}

    <!-- tooltips pour les cartes -->
    <div id="tooltips"></div>

    <div>
        <section id="top-page" style="background-image: url({{ asset('img/fond_bn.jpg') }})">
            <a href="https://bibliotheque-numerique.paris.fr/" target="_blank"><img src="{{ asset('img/logo_bn_top_page.png') }}"/></a>
        </section>
    </div>

    <section class="container" id="bnp">

        <article class="card row" id="general">

            <div class="row col s12">

                <h2>La Bibliothèque Numérique en quelques chiffres</h2>

                <div class="row">
                    <br><br>
                    <p class="story">Prévu analyse sur une période de 3 mois les données d'une bibliothèque 100% numérique. La Bibliothèque numérique de Paris a enregistré <span class="number">{{ totalouvrage.nbouvrage|number_format(0, ',', ' ') }}</span> titres empruntés entre le <span class="number">{{ dates.first|date("d/m/y") }}</span> et le <span class="number">{{ dates.last|date("d/m/y") }}</span>, un total de <span class="number">{{ total.nb|number_format(0, ',', ' ') }}</span> prêts réalisés par <span class="number">{{ totalemprunteurs.nbemprunteurs|number_format(0, ',', ' ') }}</span>lecteurs.</p>

                </div>

            </div>

            <div class="row col s12">
                <p class="right"><a class="plus" href="{{ path('paris_bn_stats') }}">En savoir plus</a></p>
            </div>

        </article>



        <!-- top notices -->
        <article class="card row">

            <div class="titreEtDropdown">
                <h2>Les livres les plus empruntés</h2> <!-- créer une fiche livre et rendre possible le zoom sur un livre -->

                <div class="dropdown_pret_mois">
                    <a  id="nom_dropdown_mois_1" href="#!" class='dropdown-button btn' data-activates='dropdown_mois_1'><span class="span_nom_mois_heures">Ensemble de la période</span> <i class="material-icons right">arrow_drop_down</i></a>
                    <ul id="dropdown_mois_1" class="dropdown-content">

                        <li><a onclick="controlDropdowns('00', 'Ensemble de la période');" class="white-text">Ensemble de la période</a></li>
                        <li><a onclick="controlDropdowns('01', 'Janvier');" class="white-text">Janvier</a></li>
                        <li><a onclick="controlDropdowns('02', 'Février');" class="white-text">Février</a></li>
                        <li><a onclick="controlDropdowns('03', 'Mars');" class="white-text">Mars</a></li>

                    </ul>
                </div>
            </div>

            <p class="story">La bibliothèque est constituée presque essentiellement de <a href="#genre">romans</a>, les nouveautés éditoriales et romans primés enregistrent des records d'emprunts.</p>
            <br>
            <!-- ajouter un moyen de filtrer par année et par mois -->

            <div class="row s12 col" id="div_topbooks">

                {% for item in top_books  %}
                    <a href="{{ path('paris_bn_book' , {'ean' : item.ean } ) }}">
                        <div class="card book col s3 center bottom topbooks">
                            <img src="{{ item.image }}" alt="livre">
                            <h3 class="truncate">{{ item.title }}</h3>
                            <h4>{{ item.author }}</h4>
                            <p id="text_top_book-bottom"><span class="red-text">{{ item.nb }}</span> emprunts</p>
                        </div>
                    </a>
                {% endfor %}

            </div>

            <div class="row col s12">

                <p class="right plus"><a href="{{ path('paris_bn_top_books') }}">Plus de résultats</a></p>
                <p class="plus"><a href="#">Chercher un livre</a></p>

            </div>

        </article>

        <!-- top auteurs -->

        <article class="card row">

            <div class="titreEtDropdown">
                <h2>Les auteurs les plus empruntés</h2> <!-- créer une fiche livre et rendre possible le zoom sur un livre -->

                <div class="dropdown_pret_mois">
                    <a  id="nom_dropdown_mois_2" href="#!" class='dropdown-button btn' data-activates='dropdown_mois_2'><span class="span_nom_mois_heures"></span> <i class="material-icons right">arrow_drop_down</i></a>
                    <ul id="dropdown_mois_2" class="dropdown-content">

                        <li><a onclick="controlDropdowns('00', 'Ensemble de la période');" class="white-text">Ensemble de la période</a></li>
                        <li><a onclick="controlDropdowns('01', 'Janvier');" class="white-text">Janvier</a></li>
                        <li><a onclick="controlDropdowns('02', 'Février');" class="white-text">Février</a></li>
                        <li><a onclick="controlDropdowns('03', 'Mars');" class="white-text">Mars</a></li>

                    </ul>
                </div>
            </div>

            <p class="story">Les femmes romancières sont à l'honneur, qu'elles soient italiennes, franco-marocaines, suédoises, londoniennes ou parisiennes.
            </p>

            <div class="row s12 col" id="div_topauthors">

                {% for item in top_authors  %}
                    <a href="{{ path('paris_bn_author' , {'name' : item.author } ) }}"><div class="card book col s3 center bottom topauthors">
                            <img src="{{ asset('img/person.png') }}" class="miniature" alt="auteur">
                            <h4>{{ item.author }}</h4>
                            <p><span class="red-text">{{ item.nb }}</span> emprunts</p>
                        </div>
                    </a>
                {% endfor %}

            </div>

            <div class="row col s12">
                <p class="right plus"><a href="{{ path('paris_bn_top_authors') }}">Plus de résultats</a></p>
                <p class="plus"><a href="{{ path('paris_bn_search_auteur') }}">Chercher un auteur</a></p>
            </div>

        </article>

        <!-- genres -->

        <article class="card row" id="genre">

            <div class="titreEtDropdown">

                <h2>Top 10 de la classification de la BN</h2>

                <div class="dropdown_pret_mois">
                    <a  id="nom_dropdown_mois_5" href="#!" class='dropdown-button btn' data-activates='dropdown_mois_5'><span class="span_nom_mois_heures">Ensemble de la période</span> <i class="material-icons right">arrow_drop_down</i></a>
                    <ul id="dropdown_mois_5" class="dropdown-content">

                        <li><a onclick="controlDropdowns('00', 'Ensemble de la période');" class="white-text">Ensemble de la période</a></li>
                        <li><a onclick="controlDropdowns('01', 'Janvier');" class="white-text">Janvier</a></li>
                        <li><a onclick="controlDropdowns('02', 'Février');" class="white-text">Février</a></li>
                        <li><a onclick="controlDropdowns('03', 'Mars');" class="white-text">Mars</a></li>

                    </ul>
                </div>

            </div>

            <p class="story">Les ouvrages sont pour les ¾ d’entre eux affiliés à une catégorie particulière. On recense 137 catégories différentes pour la bibliothèque numérique, seulement 6 d’entre elles indexent plus de la moitié des ouvrages classifiés.</p>

            <div id="block_classification" style="height: 500px;">
                <div id="classification_treemap" style="height: 400px; width: 100%;">
                </div>
            </div>

            <div class="col s11" id="div_tableau_classif">
                <table class="striped" id="tableau_csp">
                    <tr>
                        <th>Classification</th>
                        <th>Nombre d'emprunts</th>
                    </tr>

                    {% for item in totalClassif  %}
                        <tr style="height: 15px;">
                            <td><a href="{{ path('paris_bn_classification',{'classification': item.key }) }}">{{ item.key }}</a></td>
                            <td>{{ item.value }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

        </article>

        <!-- csp -->
        <article class="card row">

            <div class="titreEtDropdown">
                <h2>Quels lecteurs pour la bibliothèque?</h2>
                <div class="dropdown_pret_mois">

                    <a  id="nom_dropdown_mois_3" href="#!" class='dropdown-button btn' data-activates='dropdown_mois_3'><span class="span_nom_mois_heures">Ensemble de la période</span> <i class="material-icons right">arrow_drop_down</i></a>
                    <ul id="dropdown_mois_3" class="dropdown-content">

                        <li><a onclick="controlDropdowns('00', 'Ensemble de la période');" class="white-text">Ensemble de la période</a></li>
                        <li><a onclick="controlDropdowns('01', 'Janvier');" class="white-text">Janvier</a></li>
                        <li><a onclick="controlDropdowns('02', 'Février');" class="white-text">Février</a></li>
                        <li><a onclick="controlDropdowns('03', 'Mars');" class="white-text">Mars</a></li>

                    </ul>
                </div>

            </div>

            <p class="story">
                La Bibliothèque Numérique permet à tout lecteur enregistré dans une des bibliothèque de la ville de Paris d'emprunter des livres numériques. Les emprunteurs sont ici regroupés par catégories socioprofessionnelles (CSP), il est possible de voir la répartition des lecteurs au sein des différentes CSP ainsi que la répartition du nombre total d’emprunts par CSP. </p>

            <div class="row">


                <div class="col s7" id="csp">

                        <form id="myForm">

                            <input name="radioName" type="radio" id="radioButton1" value="emprunts" />
                            <label for="radioButton1">Emprunts</label>

                            <input name="radioName" type="radio" id="radioButton2" value="emprunteurs"/>
                            <label for="radioButton2">Emprunteurs</label>

                        </form>

                    <svg style="height:600px;"></svg>
                </div>

                <div class="col s5">
                    <table class="striped" id="tableau_csp">
                        <tr>
                            <th></th>
                            <th>CSP</th>
                            <th>Nombre d'emprunts</th>
                        </tr>

                        {%  set i=0 %}
                        {% for item in csp  %}
                            {% if item.title != "" %}
                                <tr style="height: 15px;">
                                    <td><svg style="width: 50px; height: 15px"><circle cx="25" cy="7.5" r="6" fill="{{ colors[i] }}"></circle></svg></td>
                                    <td><a href="{{ path('paris_bn_csp',{'currentCsp': item.title }) }}">{{ item.title }}</a></td>
                                    <td>{{ item.nb }}</td>
                                </tr>
                                {% set i=i+1 %}
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="row col s12 center">
                <a href="{{ path('paris_bn_stats_gros_emprunteurs') }}" class="btn white red-text focus">Focus sur les "gros" emprunteurs</a>
            </div>

        </article>


        <article class="card row">

            <div class="titreEtDropdown">

                <div class="row col s12">
                    <h2>Répartition des emprunts dans le temps</h2>

                    <div class="dropdown_pret_mois">
                        <a  id="nom_dropdown_mois_4" href="#!" class='dropdown-button btn' data-activates='dropdown_mois_4'><span class="span_nom_mois_heures">Ensemble de la période</span> <i class="material-icons right">arrow_drop_down</i></a>
                        <ul id="dropdown_mois_4" class="dropdown-content">

                            <li><a onclick="controlDropdowns('00', 'Ensemble de la période');" class="white-text">Ensemble de la période</a></li>
                            <li><a onclick="controlDropdowns('01', 'Janvier');" class="white-text">Janvier</a></li>
                            <li><a onclick="controlDropdowns('02', 'Février');" class="white-text">Février</a></li>
                            <li><a onclick="controlDropdowns('03', 'Mars');" class="white-text">Mars</a></li>

                        </ul>
                    </div>
                </div>

            </div>

            <div class="row col s12">
                <h2>Par jour :</h2>

                <article class="col s12 ">
                    <div id="timeline">
                        <svg></svg>
                    </div>
                </article>
            </div>

            <div class="row col s12 center">
                <a class="btn white red-text focus" href="#modal1fevrer" onclick="fev1allfunction()" >Que s’est-il passé le 1er février?</a>
            </div>

            <h3>Dimanches & lecture</h3>
            <p class="story">Le graphique rend visible les pulsations de la semaine : des pics d'emprunts du week-end aux creux enregistrés en semaine (on note par ailleurs des sommets modérés les mercredis).</p>



            <!-- Modal Structure -->

            <div id="modal1fevrer" class="modal">
                <div class="modal-content">

                    <h3>Que s'est-il passé le 1er février?</h3>

                    <p>Le record du nombre d’emprunt sur la période est atteint le mercredi 1er février. Pourquoi ce jour?</p>
                    <p>Pourquoi un mercredi alors que les pics d’emprunts ont habituellement lieu les week-ends?</p>
                    <p>Les lecteurs ont-ils anticipé leur départ en vacances d’hiver du vendredi 3 février? La bibliothèque numérique a t-elle lancé une campagne de communication à ce moment là?</p>

                </div>
                <div class="modal-footer">
                    <a href="{{ path('paris_bn_1fev') }}" class="modal-action waves-effect waves-green btn-flat">Voir toutes les statistiques liées au 1er février</a>
                </div>
            </div>


            <div class="row col s12">

                <div class="titreEtDropdown">

                    <div class="row col s12">

                        <h2>Par heure :</h2>

                        <div class="dropdown_pret_mois">
                            <a  id="nom_dropdown_mois_4" href="#!" class='dropdown-button btn' data-activates='dropdown_mois_4'><span class="span_nom_mois_heures">Ensemble de la période</span> <i class="material-icons left">arrow_drop_down</i></a>
                            <ul id="dropdown_mois_4" class="dropdown-content">

                                <li><a onclick="controlDropdowns('00', 'Ensemble de la période');" class="white-text">Ensemble de la période</a></li>
                                <li><a onclick="controlDropdowns('01', 'Janvier');" class="white-text">Janvier</a></li>
                                <li><a onclick="controlDropdowns('02', 'Février');" class="white-text">Février</a></li>
                                <li><a onclick="controlDropdowns('03', 'Mars');" class="white-text">Mars</a></li>

                            </ul>
                        </div>
                    </div>

                </div>



                <article class="col s12 ">
                    <div id="div_prets_par_heure"></div>
                </article>
            </div>

            <h3>La bibliothèque le soir</h3>
            <p class="story">Une bibliothèque numérique permet l'abolition des horaires d'ouvertures: les emprunts surviennent majoritairement sur des plages de traditionnelles fermetures des établissements. On recense de forts pics les soirs de semaine entre 21h et 23h, ainsi que les dimanches.</p>


        </article>

        <!-- cartes Île-de-France Interactive -->
        <article class="card row">

            <div class="titreEtDropdown">

                <h2>Les lecteurs d'Île-de-France</h2>

                <div class="dropdown_pret_mois">
                    <a  id="nom_dropdown_mois_6" href="#!" class='dropdown-button btn' data-activates='dropdown_mois_6'><span class="span_nom_mois_heures">Ensemble de la période</span> <i class="material-icons right">arrow_drop_down</i></a>
                    <ul id="dropdown_mois_6" class="dropdown-content">

                        <li><a onclick="controlDropdowns('00', 'Ensemble de la période');" class="white-text">Ensemble de la période</a></li>
                        <li><a onclick="controlDropdowns('01', 'Janvier');" class="white-text">Janvier</a></li>
                        <li><a onclick="controlDropdowns('02', 'Février');" class="white-text">Février</a></li>
                        <li><a onclick="controlDropdowns('03', 'Mars');" class="white-text">Mars</a></li>

                    </ul>
                </div>

            </div>

            <div id="div_map_ile_de_france">
                <div id="map_ile_de_france" style="margin-left: 15%;">
                </div>
            </div>


        <!-- carte Paris Interactive -->


            <div class="titreEtDropdown">

                <h2>Les lecteurs parisiens</h2>

                <div class="dropdown_pret_mois">
                    <a  id="nom_dropdown_mois_7" href="#!" class='dropdown-button btn' data-activates='dropdown_mois_7'><span class="span_nom_mois_heures">Ensemble de la période</span> <i class="material-icons right">arrow_drop_down</i></a>
                    <ul id="dropdown_mois_7" class="dropdown-content">

                        <li><a onclick="controlDropdowns('00', 'Ensemble de la période');" class="white-text">Ensemble de la période</a></li>
                        <li><a onclick="controlDropdowns('01', 'Janvier');" class="white-text">Janvier</a></li>
                        <li><a onclick="controlDropdowns('02', 'Février');" class="white-text">Février</a></li>
                        <li><a onclick="controlDropdowns('03', 'Mars');" class="white-text">Mars</a></li>

                    </ul>
                </div>
            </div>

            <div id="div_map_paris">
                <div id="map_paris" style="margin-left: 15%;">
                </div>
            </div>

            <h3>La bibliothèque chez soi</h3>
            <p class="story">La dématérialisation du lieu et des ressources permet un élargissement géographique du lectorat par le rassemblement des lecteurs inscrits dans les différentes bibliothèques de la ville de Paris.
                Le centre de Paris ainsi que les banlieues plus éloignées ne concentrent que peu d'emprunteurs tandis que le 15e et le 20e enregistrent des records.</p>

            <br><br>
        </article>

    </section>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- Materialize -->

    <script type="text/javascript" src="{{ asset('assets/vendor/materialize/js/parallax.js') }}"></script>


    <!-- D3.JS -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/nvd3/build/nv.d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/spinner/spin.js') }}"></script>

    <script src="https://d3plus.org/js/d3plus.js"></script>
    <link rel="stylesheet" href="{{ asset('/assets/vendor/nvd3/build/nv.d3.css')}}">

    <!-- END D3.JS -->

    <script type="text/javascript" src="{{ asset('js/timeline_emprunt_annee.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/heatmap_day_hour.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/treemap_simple.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/map_ile_de_france.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/map_paris.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/donut_simple.js') }}"></script>



    {# viz timeline #}
    <script>

        function lancer_timeline(annee, mois){

            var url = '{{ path("api_bn_annee",{'annee': 'varAnnee', 'mois': 'varMois'}) }}';
            url = url.replace("varAnnee", annee);
            url = url.replace("varMois", mois);

            d3.json(url , function(error, data) {
                timeline_emprunt_annee("timeline svg", annee, data);
            });
        }
    </script>


    {# top books et authors #}
    <script>

        function topBooks(moisChiffre) {

            var url = '{{ path("api_bn_topbooks", {'mois': 'varMois'}) }}';
            url = url.replace("varMois", moisChiffre);
            d3.json(url , function(error, data) {

                var topbooks = document.getElementsByClassName('topbooks');
                var i;

                var liens = document.querySelectorAll('#div_topbooks a');


                for (i = 0; i < topbooks.length; i++) {

                    var url = '{{ path('paris_bn_book' , {'ean' : 'varEan' } ) }}';
                    url = url.replace("varEan", data[i].ean);

                    liens[i].setAttribute("href", url);
                    topbooks[i].querySelector('img').setAttribute("src", data[i].image);
                    topbooks[i].querySelector('h3').textContent=data[i].title;
                    topbooks[i].querySelector('h4').textContent=data[i].author;
                    topbooks[i].querySelector('p span').textContent=data[i].nb;

                }
            });
        }



        function topAuthors(moisChiffre) {

            var url = '{{ path("api_bn_topauthors", {'mois': 'varMois'}) }}';
            url = url.replace("varMois", moisChiffre);

            d3.json(url , function(error, data) {

                var topauthors = document.getElementsByClassName('topauthors');
                var i;

                var liens = document.querySelectorAll('#div_topauthors a');

                for (i = 0; i < topauthors.length; i++) {


                    var url = '{{ path('paris_bn_author' , {'name' : 'varName' } ) }}';
                    url = url.replace("varName", data[i].author);


                    liens[i].setAttribute("href", url);
                    //topbooks[i].querySelector('img').setAttribute("src", "");
                    topauthors[i].querySelector('h4').textContent=data[i].author;
                    topauthors[i].querySelector('p span').textContent=data[i].nb;

                }
            });
        }
    </script>


    {# viz donut csp #}
    <script>

        var moisChiffre = "00";
        var type = "emprunts";

        $('#myForm input').on('change', function() {
            if ($('input[name=radioName]:checked', '#myForm').val() == "emprunts") {
                type="emprunts";
                lancer_donut_csp(moisChiffre, "emprunts");
            } else {
                type="emprunteurs";
                lancer_donut_csp(moisChiffre, "emprunteurs");
            }
        });

        function lancer_donut_csp(moisChiffre, type) {

            if (type == "emprunts") {
                var url = '{{ path("api_bn_donut_csp", {'mois': 'varMois'}) }}';
            } else {
                var url = '{{ path("api_bn_donut_csp_emprunteurs", {'mois': 'varMois'}) }}';
            }
            url = url.replace("varMois", moisChiffre);

            var colors = [];

            {% for item in colors  %}
                colors.push("{{ item }}");
            {% endfor %}



            d3.json(url , function(error, data) {

                donut_simple("csp svg", data, true, colors);
                modifier_tableau_csp(data, type);

            });
        }

        function modifier_tableau_csp(data, type) {

            var divTab = document.getElementById("tableau_csp").querySelectorAll("tbody tr");
            var i;


            divTab[0].querySelectorAll("th")[2].textContent = "Nombre d\'"+type;

            for (i = 1; i < divTab.length; i++) {

                var url = '{{ path('paris_bn_csp' , {'currentCsp' : 'varCsp' } ) }}';
                url = url.replace("varCsp", data[i - 1].label);

                var tds = divTab[i].querySelectorAll("td");
                tds[1].querySelector("a").setAttribute("href", url);
                tds[1].querySelector("a").textContent = data[i - 1].label;

                tds[2].textContent = data[i - 1].value;
            }

        }

    </script>



    {# viz treemap #}
    <script type="text/javascript">

        function lancer_treemap_simple(mois) {

            var url = '{{ path("api_bn_classification", {'mois': 'varMois'}) }}';
            url = url.replace("varMois", mois);

            d3.json(url , function(error, data) {
                document.getElementById("classification_treemap").innerHTML = "";
                console.log(data);
                treemap_simple("classification_treemap", data);
            });
        }
    </script>


    {# viz des prets par heure #}
    <script type="text/javascript">

        function lancer_prets_par_heure(mois) {

            var url = '{{ path("api_bn_hours_json", {'mois': 'varMois'}) }}';
            url = url.replace("varMois", mois);
            d3.json(url , function(error, data) {
                heatmap_day_hour("emprunts", "div_prets_par_heure", data);
            });
        }
    </script>


    {# viz cartes #}
    <script>

        function lancer_cartes(mois) {


            var url = '{{ path("api_bn_carte_ile_de_france", {'mois': 'varMois'}) }}';
            url = url.replace("varMois", mois);
            d3.json(url , function (error, data) {
                vizMapIleDeFrance("map_ile_de_france", data);
            });


            url = '{{ path("api_bn_carte_paris", {'mois': 'varMois'}) }}';
            url = url.replace("varMois", mois);
            d3.json(url, function (error, data) {
                vizMapParis("map_paris", data);
            });

        }
    </script>

    <script>

        controlDropdowns("00", "Ensemble de la période");
        document.getElementById("radioButton1").checked = true;

        function controlDropdowns(moisNb, moisString){

            var nomsDropdowns = document.getElementsByClassName('span_nom_mois_heures');
            var i;
            for (i = 0; i < nomsDropdowns.length; i++) {
                nomsDropdowns[i].textContent = moisString;
            }

            moisChiffre=moisNb;

            lancer_timeline('2017', moisNb);
            lancer_prets_par_heure(moisNb);
            topBooks(moisNb);
            topAuthors(moisNb);
            lancer_donut_csp(moisNb, type);
            lancer_treemap_simple(moisNb);
            lancer_cartes(moisNb);
        }
    </script>




{% endblock %}