{% extends "base.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bn.css')}}">

{% endblock %}

{% block body %}

        <section class="container" id="stats">

            <article class=" row">
                <h2>Et pour quelques <i>chiffres</i> de plus</h2>

                <div class="row col s12 card">
                        <h3>Par jour :</h3>

                        <article class="col s4">
                            <div class="col-content white center"><p>Nombre minimum d'emprunts</p></p><div class="number">{{ maxandminjour[1].value|number_format(0, ',', ' ') }}</div></div>
                        </article>

                        <article class="col s4">
                            <div class="col-content white center"><p style="font-weight: bold; font-size: 120%;">Nombre moyen d'emprunts</p><div class="number"> {{ moyenneempruntjour.moyenne|number_format(0, ',', ' ') }} </div></div>
                        </article>

                        <article class="col s4">
                            <div class="col-content white center"><p >Nombre maximum d'emprunts</p><div class="number"> {{ maxandminjour[90].value|number_format(0, ',', ' ') }} </div></div>
                        </article>

                </div>

                <div class="row col s12 card">
                    <h3>Par heure :</h3>


                    <article class="col s6">
                        <div class="col-content white center"><p>Nombre d'emprunt moyen</p><div class="number">{{ moyenneempruntheure.moyenne|number_format(0, ',', ' ') }}</div></div>
                    </article>
                    <article class="col s6">
                        <div class="col-content white center"><p>Nombre maximum d'emprunt</p><div class="number"> {{ maxandminheure[0].value|number_format(0, ',', ' ') }} </div></div>
                    </article>

                </div>

                <div class="row col s12 card">

                    <h3>Par ouvrage :</h3>

                    <article class="col s6">
                        <div class="col-content white center"><p>Nombre d'emprunt moyen d'un livre</p><div class="number">{{ moyenneempruntlivre.moyenne|number_format(0, ',', ' ') }}</div></div>
                    </article>
                    <article class="col s6">
                        <div class="col-content white center"><p>Nombre maximum d'emprunt pour un ouvrage</p><div class="number"> {{ maxandminlivre[0]|number_format(0, ',', ' ') }} </div></div>
                    </article>

                </div>

            </article>

            <article class="card row" id="stats">

                <div class="row col s12">

                    <h3>Par emprunteur :</h3>

                    <div class="row">

                        <article class="col s3" style="margin-top: 150px;">

                            <div class="col-content white center"><p>Age moyen des emprunteurs</p>
                                <div class="number">
                                    {{ moyennedage.value|number_format(0, ',', ' ') }}
                                </div>
                            </div>
                        </article>

                        <article class="col s6">
                            <div class="col-content white center" style="height: 500px;">
                                <div id="stat_genre">
                                    <svg style="height: 500px;"></svg>
                                </div>
                                {#<p>Répartition hommes/femmes</p>#}
                            </div>
                        </article>

                        <article class="col s3" style="margin-top: 130px;">
                            <div class="col-content white center"><p>Nombre moyen d'emprunts par emprunteurs</p></p><div class="number"> {{  moyenneempruntbyemprunteur["moyenne"]|number_format(0, ',', ' ')}} </div></div>
                        </article>

                    </div>

                </div>
            </article>
        </section>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}



    <!-- D3.JS -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/nvd3/build/nv.d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/spinner/spin.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('/assets/vendor/nvd3/build/nv.d3.css')}}">
    <!-- END D3.JS -->

    <script type="text/javascript" src="{{ asset('js/barchart_simple.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/donut_simple.js') }}"></script>


    <script>
        function lancer_donut_stats() {

            var url = '{{ path("api_bn_repartitiongenre") }}';

            d3.json(url , function(error, data) {
                donut_simple_avec_legende("stat_genre svg", data,true);
            });
        }

        lancer_donut_stats();
    </script>


    <script>

    </script>

{% endblock %}