@font-face
{
    font-family: 'montserratregular';
    src: url('../police/montserrat-regular-webfont.woff2') format('woff2'),
    url('../police/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('../police/montserrat-bold-webfont.woff2') format('woff2'),
         url('../police/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


h2 {
    text-transform: none;
    font-family: "montserratbold";
    color: #333;
    font-weight: normal;
    font-size: 38px;
    line-height: 40px;
    letter-spacing: 0.01em;
}

h3 {
    text-transform: none;
    font-family: "montserratbold";
    color: #333;
    font-weight: normal;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0.01em;
}

h4 {
    text-transform: none;
    font-family: "montserratbold";
    color: #333;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.01em;
}

body {
    font-size: 12px;
    color: #535353;
    font-family: montserratregular;
}
.titreEtDropdown {
    margin-bottom: 30px;
}

.titreEtDropdown div {
    display: inline;
}

.titreEtDropdown h2 {
    display: inline;
}

.legende {
    font-family: montserratregular;
}
#barre_nav {
    background-color: #E53935 !important;

}

#nav-mobile li {

    color: white !important;
    font-family: montserratregular;

}

#nav-mobile li a {
    color: white !important;
    font-family: montserratregular;

}

#logo {
    height: 55px;
    margin-top: 5px;
}

#top-page {
    height: 350px;
    text-align: center;
    background-attachment: fixed;
}

#top-page img {
    height: 200px;
    margin-top: 60px;
}

#menu_biblio, #menu_admin, #menu_article {
    background-color: #E53935;
}


#menu_biblio li:hover, #menu_admin li:hover, #menu_article li:hover {
    background-color: rgba(0, 0, 0, 0.01);
}

.container {
    width: 70%;
}

#div_dropdown_csp{
    display: inline;
    padding-right : 50px;
    margin-bottom: 80px;
}

#nom_dropdown_csp {
    width: 500px;
    margin-bottom: 50px;
}


.dropdown-button.btn {
    background-color: #E53935;
}

#select_csp option {
    background-color: white;
}

.select-wrapper.initialized ul li span{
    color : red;
    font-family: "montserratbold";
    }

#zone_titre_csp .select-dropdown{
    font-size: 30px;
    margin-top: 10px;
}

#zone_titre_csp {
    margin-bottom: 20px;
}

.select-dropdown {
    color : red;
    font-family: "montserratbold";



}


.dropdown-content{
    background-color: white;

}


.dropdown_pret_mois ul {
    background-color: #E53935;
}


.dropdown_pret_mois ul li {
    background-color: #E53935;
}

.dropdown-content li:hover{
    background-color: rgba(0, 0, 0, 0.1);
    color: white;

}



.dropdown_pret_mois a {
    float: right;
}

.dropdown_pret_mois ul li a {

    width: 100%;
}



#dropdown_stat_generales {
    display: inline;
    float: right;
    padding-right : 50px;
    padding-top: 10px;
}


#csp_pret_annee {
    width: 90%;
    height : 350px;
    margin: auto;
}


#csp_classification {
    font: 10px sans-serif;

}

#csp_classification .bar rect {
    fill: #E53935;
}

#csp_classification .bar text.value {
    fill: #E53935;
    font-family: montserratregular;
}

#csp_classification .axis {
    shape-rendering: crispEdges;
}

#csp_classification .axis path {
    fill: none;
}

#svg_classification {
    font-family: montserratregular;
}

/*
#csp_classification .x.axis line {
    stroke: #fff;
    stroke-opacity: .8;
}
*/

#csp_classification .y.axis path {
    stroke: black;
}


#timeline{
    height: 300px;
    width:95%;
    margin:auto;
}

.number{
    font-size : 1.8em;
    color: #E53935;
}



#zone_spinner {
    margin-top: 75px;
}


.card .col-content{
    font-size: 1.9em;
    padding-bottom: 40px;
}

.card .col-content .number{
    margin-top: -10px;
}

.book h3{
    color : black;
    font-size : 1.4em;
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.book h4{
    font-size : 1.2em;
    margin-bottom: 0px;
    padding-top : 0px;
    font-weight: normal;
}

.book p{
    margin:0px;
    padding-top: 0px;
    color : black;
}

.book{
    height : 100%;
}

.book img {
    height: 300px;
}


.book2 h3{
    color : black;
    font-size : 1.1em;
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.book2 h4{
    font-size : 0.9em;
    margin-bottom: 0px;
    padding-top : 0px;
    font-weight: normal;
}

.book2 p{
    margin:0px;
    padding-top: 0px;
    color : black;
}

.book2 {
    height: 100%;
}

#text_top_book-bottom
{
    margin-bottom: 20px;
}
.book2 img {
    height: 200px;
}

.page-footer{
    background : #E53935 !important;
}


#article_details_csp {
    padding-top: 30px;
    text-align: center;
}

#article_details_csp h2 {
    margin-left: 40px;
}

#imgbook {
    padding-top: 30px;
    padding-left: 80px;
}

#titlebook {
    color: #D50000;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    border-radius: 2px 2px 0 0;
}

#authorbook{
    margin: 10px 0;
}

#eanbook{
    height: 40px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    border-radius: 2px 2px 0 0;
}

#eanbook h5{
    padding-top: 10px;
    padding-left: 5px;
}


#nbempruntbook{
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    border-radius: 2px 2px 0 0;
}

#detail1{
    margin-top: 30px;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    border-radius: 2px 2px 0 0;
    height: 300px;
}

#moyenneAge{
    text-align: center;
}

#cspEmpruntBook{
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    border-radius: 2px 2px 0 0;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px red inset;
}

::placeholder{
    color:#D50000;
    font-size: 40px;
}

.gros_emmprunteurs {
    margin-left: 35%;
    margin-top: 2%;
    background-color: #E53935;
    border-radius: 3px;
    padding: 20px;
    color: white;
    text-align: center;
    float: left;
    font-family: montserratregular;
    font-size: 200%;
}

/*Cartes*/

.background {
    fill: #fff;
    pointer-events: all;
}

.map-layer {
    fill: #fff;
    stroke: #aaa;
}

.effect-layer{
    pointer-events:none;
}

text{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

text.big-text{
    font-size: 30px;
    font-weight: 400;
}

.effect-layer text, text.dummy-text{
    font-size: 12px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}


/*viz mediane*/

#moyenne_container {
    display: inline-block;
    height: 300px;
    width: 95%;
    text-align: center;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    margin-top: 60px;
}


/*partie csp page principale*/
#myForm {
    float: right;
}

#myForm label {
    margin-left: 50px;
}

.story{
    font-size: 1.8em;
    padding:10px;
}

.plus{
    font-size: 1.5em;
    color: #5F5B5B;
    text-decoration: underline;
}

#bnp a{
    color: #5F5B5B;
    text-decoration: underline;
}

/* 1 fevrier */

#info1fev{
    text-align: center;
}

#article1fev span{
    color:#D50000;
    font-size: 40px;
    text-align: center;
}

#nombre_1fev span {
    color:#D50000;
    font-size: 40px;
    text-align: center;
}

#tooltips {
    position: absolute;
    background-color: #F2F2F2;
    visibility: hidden;
    z-index: 1000;
    border-radius: 3px;
    padding: 2px;
    margin-left: 2px;
}

#block_all_classification{
    height: 600px;
}

#all_classification_treemap{
    height: 600px;
    width: 100%;
}

.dropdown-button, .dropdown-content li a{
    color: white!important;
    text-decoration: none!important;
}

.titreEtDropdown{
    margin-bottom: 60px;
}

.dropdown_pret_mois{
    display: block!important;
    margin-top : 15px;
}

.miniature{
    height: 150px!important;
}

.focus a{
    font-size:1.4em;
}

.modal-content p{
    font-size: 1.4em;
}

h2 a{
    color: black!important;
}