@-webkit-keyframes blink {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}
blink {
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 3s;
}

h1, h2, h3{
    font-family: 'IM Fell Double Pica', serif;
}

.lien{
    cursor:pointer;
}

.valign{
    margin-top: 35vh; transform: translateY(-50%);
}

#donut_etudiant_chercheur{
    height: 400px;
}

a{
    color:black;
}

.texte{
    font-size : 4em;
}

.hideme .texte{
    display: none;
}

footer{
    position : fixed;
    bottom: 70px;
    width: 100%;
}

#div_footer {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 100px;
}

#precedent {
    float: left;
    color : black;
}

#suivant {
    float: right;
    color : black;

}

.modal{
    background: white!important;
}

.myButton{
    font-size: 0.9em;
}

#conteneur-p2{
    margin-top: 200px;
}



