body{
    background: whitesmoke;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#logo{
    height:60px;
    position:fixed;
    left:10px;
}

.brand-logo{
    padding : 0px 15px !important;
}


.number{
    font-size: 3em;
}

.card_content{
    margin : 10px;
}

.workCard{
    height:280px;
}

.workCard h3 {
    font-size:1.5em;
    font-weight: bold;
}

.workCard a{
    color : black;
}

.oeuvre{
    font-size: 2em;
}

.card{
    padding: 10px;
}

.page-footer{
    background: #ffb300 !important
}

.mini-table td, .mini-table th{
    font-size:0.8em;
    line-height: 1em;
    padding: 2px 5px;

}

.middle-table td, .middle-table th{
    font-size:0.9em;
    line-height: 1.2em;
    padding: 3px 5px;

}

#timeline{
    height: 400px;
}

.number{
    font-size : 2.5em;
    color: #ffb300;
}

p{
    margin:0px;
    padding-top: 0px;
    font-size: 1.2em;
    color : black;
}

.dropdown-button, .dropdown-content li a{
    color: white!important;
    text-decoration: none!important;
}

.dropdown_pret_mois_biblio{
    display: block!important;
    margin-top : 15px;
}

.dropdown-button.btn {
    background-color: #ffb300;
}


.dropdown_pret_mois_biblio ul li {
    background-color: #ffb300;
}

.dropdown-content li:hover{
    background-color: rgba(0, 0, 0, 0.1);
    color: white;

}

header img{
    filter: blur(1px);
    -moz-filter: blur(2px);
}

header h1{
    /*background-color: white;*/
}

#div_topauthors h5,span{
    color: #ffb300;
    font-size: 1.2em;
}

#div_topbooks h5{
    color: #ffb300;
    font-size: 1.2em;
}


#title_book, #title_book_table{
    font-size: 1.5em;
    color: #ffb300;
}

#div_books_part_2 img{
    width: 90px;
}

.span_nom_mois_heures {
    color: white ;
}

.topbooks{
    height: 200px;
}

.fullbook, .topauthors{
    height: 300px;
}
