{% extends "simple.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/rapport.css')}}">

    <link href="https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica" rel="stylesheet">
{% endblock %}

{% block body %}

    <section class="container valign" data-fragment="1">

        <div class="row col s12">

            <h1 id='titre' class="center">{{ myLibrary.name }}</h1>
            <h2 class="center">Rapport d'activité {{ year }}</h2>
            <p class="fragment lien center" data-lien="2"><blink>Commencer la lecture</blink></p>
        </div>

    </section>

    <section class="container valign" data-fragment="2">

        <article class="card">
            <p>{{ totalBorrowerFor1library.nb }} lecteurs actifs pour {{ totalIssueFor1libraryForAYear.nb }} prêts</p>
            <p>1 an avant : prêts = {{ totalIssueFor1libraryFor1YearBefore.nb }}, emprunteur = {{ totalBorrowerFor1libraryFor1YearBefore.nb }} </p>
            <p>2 an avant : prêts = {{ totalIssueFor1libraryFor2YearBefore.nb }}, emprunteur = {{ totalBorrowerFor1libraryFor2YearBefore.nb }}</p>
            <p class="fragment lien center" data-lien="3"><blink>Continuer</blink></p>
        </article>
    </section>

    <!-- Timeline -->
    <section class='container' data-fragment="3">

        <article class="card row">

            <div class="row">

                <h2>Timeline</h2>
                <div id="timeline">
                    <svg></svg>
                </div>

                <p>Exemple de commentaire sur la timeline</p>
            </div>

        </article>
        <p class="fragment lien center" data-lien="4"><blink>Continuer</blink></p>

    </section>



    <!-- Le public -->

    <section class="container valign" data-fragment="4">

        <article class="card row">

            <div id="donut_etudiant_chercheur">

                {#<form id="myForm">#}

                {#<input name="radioName" type="radio" id="radioButton1" value="emprunts" />#}
                {#<label for="radioButton1">Emprunts</label>#}

                {#<input name="radioName" type="radio" id="radioButton2" value="emprunteurs"/>#}
                {#<label for="radioButton2">Emprunteurs</label>#}

                {#</form>#}

                <svg></svg>

            </div>

        </article>

    </section>

    <section class="container">
        Pour une discipline (paramétrable)
    </section>

    <section class='container' data-fragment="7">
        <article class="card" >
            <h2>Statistiques générales</h2>

            <div>
                <p>Nombre d'inscrits {{ totalBorrowerFor1library.nb }}</p>
                <p>Nombre de lecteurs actifs (un lecteur qui a emprunté au moins une pendant un an)</p>
                <p>Ratio lecteurs actifs / nb d'inscrits</p>

                <p>Nombre de prêts réalisés dans l'année = {{ totalIssueFor1libraryForAYear.nb }}</p>

                <p>Nombre de prêts pour chaque mois</p>
                <p class="fragment lien center" data-lien="4"><blink>Continuer</blink></p>
            </div>
        </article>

    </section>


    <section>

        <article class="card">
            <h2>Les livres les plus empruntés</h2>

            <table class="striped">
                <tr>
                    <th>Etape</th>
                    <th>Nombre</th>
                </tr>
                {% for item in top100BooksFor1libraryForAYear  %}
                    <tr>
                        <td>{{ item.title }}</td>
                        <td>{{ item.nb }}</td>
                    </tr>
                {% endfor %}
            </table>
        </article>

        <article class="card">
            <h2>Les lecteurs</h2>

            <h3>Lecteur par niveaux</h3>

            <table class="striped">
                <tr>
                    <th>Etape</th>
                    <th>Nombre</th>
                </tr>
                {% for item in nbEmprunteursByNiveauForALibrary  %}
                    <tr>
                        <td>{{ item.niveau }}</td>
                        <td>{{ item.nb }}</td>
                    </tr>
                {% endfor %}
            </table>

            <h3>Lecteur par départements  (comme dans Prévu avec les UFR)</h3>

            <table class="striped">
                <tr>
                    <th>Etape</th>
                    <th>Nombre</th>
                </tr>
                {% for item in nbEmprunteursByEtapeForALibrary  %}
                    <tr>
                        <td>{{ item.etape }}</td>
                        <td>{{ item.nb }}</td>
                    </tr>
                {% endfor %}
            </table>

        </article>

    </section>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- Materialize -->

    <script type="text/javascript" src="{{ asset('assets/vendor/materialize/js/parallax.js') }}"></script>


    <!-- D3.JS -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/nvd3/build/nv.d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/spinner/spin.js') }}"></script>

    <script src="https://d3plus.org/js/d3plus.js"></script>
    <link rel="stylesheet" href="{{ asset('/assets/vendor/nvd3/build/nv.d3.css')}}">

    <!-- END D3.JS -->

    <script type="text/javascript" src="{{ asset('js/timeline_emprunt_annee.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/heatmap_day_hour.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/treemap_simple.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/map_ile_de_france.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/map_paris.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/donut_simple.js') }}"></script>

    <script>
        function lancer_timeline() {

            var url = '{{ path("api_bibliovizz", {'year': year, 'library' : library} ) }}';

            d3.json(url , function(error, data) {
                timeline_emprunt_annee("timeline svg", {{ year }}, data );
            });
        }


        function lancer_donut_etudiants_chercheurs() {

            var url = '{{ path("api_bibliovizz_chercheurs", {'year': year, 'library' : library} ) }}';

            d3.json(url , function(error, data) {
                donut_simple_avec_legende("donut_etudiant_chercheur svg", data, true);
            });


        }

    </script>


    <script>
    </script>

{% endblock %}