{% extends "simple.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/rapport.css')}}">

    <link href="https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica" rel="stylesheet">
{% endblock %}

{% block body %}

    <!-- Le public -->

    <section class="container ">


        <article class="valign row">

            <h2>Réparition étudiants et enseignants chercheurs</h2>

            <div id="donut_etudiant_chercheur">

                <svg></svg>

            </div>

        </article>

    </section>

    <footer>
        <div id="div_footer">

            <a id="precedent" href="{{ path('bibliovizz_page' , {'year': year, 'page' :3, 'library' : library } ) }}"><i class="large material-icons">arrow_left</i></a>

            <a id="suivant" href="{{ path('bibliovizz_page' , {'year': year, 'page' :5, 'library' : library } ) }}"><i class="large material-icons">arrow_right</i></a>

        </div>
    </footer>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- Materialize -->

    <script type="text/javascript" src="{{ asset('assets/vendor/materialize/js/parallax.js') }}"></script>


    <!-- D3.JS -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/nvd3/build/nv.d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/spinner/spin.js') }}"></script>

    <script src="https://d3plus.org/js/d3plus.js"></script>
    <link rel="stylesheet" href="{{ asset('/assets/vendor/nvd3/build/nv.d3.css')}}">

    <!-- END D3.JS -->

    <script type="text/javascript" src="{{ asset('js/timeline_emprunt_annee.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/heatmap_day_hour.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/treemap_simple.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/map_ile_de_france.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/map_paris.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/donut_simple.js') }}"></script>

    <script>
        function lancer_donut_etudiants_chercheurs() {

            var url = '{{ path("api_bibliovizz_chercheurs", {'year': year, 'library' : library} ) }}';

            d3.json(url , function(error, data) {
                donut_simple_avec_legende("donut_etudiant_chercheur svg", data, true);
            });


        }
        lancer_donut_etudiants_chercheurs();

    </script>


    <script>
    </script>

{% endblock %}